* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Montserrat", sans-serif;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: initial;
}
.header {
  height: 100px;
  margin-bottom: 120px;
}
.img-logo {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}
.img-search {
  width: 20px;
  height: 20px;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
}
.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 40px;
  height: 120px;
}
//header menu
.menu-list {
  display: flex;
  align-items: center;
  height: 100%;
  .menu-list-item {
    margin-right: 30px;
    height: 20px;
  }
  .menu-list-link {
    position: relative;
    font-weight: 500;

    &::before {
      content: "";
      background-color: black;
      position: absolute;
      width: 0%;
      height: 3px;
      top: 25px;
      transition: 0.5;
    }
  }
}
//drop menu
.menu-list-dropdown {
  opacity: 0;
  padding-top: 10px;
  position: absolute;
  transition: 1s;
  z-index: -1;
  position: absolute;
  li {
    margin-right: 0;
    margin-bottom: 10px;
  }
  a {
    color: grey;
    &:hover {
      color: black;
    }
  }
}
.menu-list-item:hover .menu-list-dropdown {
  opacity: 1;
  z-index: 2;
}
.menu-list-drop:hover {
  margin-right: 80px;
  transform: 1s;
}
.menu-list-drop {
  transition: 2s;
}
.menu-list-contact {
  position: relative;
}
.menu-list-item .menu-list-contact:hover .menu-list-link:before {
  display: none;
}

//animate-link
.menu-list li:hover .menu-list-link:before {
  width: 100%;
  transition: 0.7s;
}
.menu-list .menu-list-drop:hover .menu-list-link:before {
  display: none;
}
//header-menu ----end

.header-item {
  display: flex;
  position: relative;
  align-items: center;
}
.logo-link {
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 20px;
  margin-right: 60px;
  transition: 0.5;
  &:hover {
    color: #ff9e5e;
    transition: 0.5s;
  }
}
.header-search {
  margin-right: 30px;
  display: flex;
  cursor: pointer;

  position: relative;
}
//form
.form-btn {
  background: none;
  box-shadow: none;
  border: none;
  cursor: pointer;
  padding: 0;
  margin: 0;
  appearance: none;
  width: 20px;
  position: relative;
  z-index: 2;
  top: 3px;
  display: none;
  .img-search {
    width: 20px;
    height: 20px;
    position: relative;
    top: -3px;
  }
}
.search {
  input {
    width: 170px;
    padding: 5px 45px 5px 10px;
    box-shadow: 0 0 10px 0 #000;
    border: none;
    font-size: 14px;
    border-radius: 10px;
    position: absolute;
    left: -135px;
    opacity: 0;
    z-index: -1;
    transition-duration: 0.5s;
    transition-property: opacity;
    appearance: none;
    top: -3px;
  }
}
.search-active {
  input {
    opacity: 1;
    z-index: 1;
  }
  .form-btn {
    display: block;
  }
  .img-search-hiden {
    display: none;
  }
}
.img-search-hiden {
}

//language

.header-language {
  width: 120px;

  .header-language-item {
    cursor: pointer;
    margin-right: 20px;
    &:nth-child(3) {
      margin-right: 0;
    }
  }
}
.language-item-hiden {
  display: none;
}
.header-lang-active {
  display: block;
}
.header-language {
  display: flex;
}

//section books
.books-item-img {
  width: 400px;
}
.books {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.books-item {
  margin-bottom: 40px;
}
.boks-item-title {
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 40px;
  color: #41413f;
}
.boks-item-subtitle {
  width: 60%;
  margin: 0 auto;
  text-align: center;
  line-height: 30px;
}
.book-section {
  height: 100%;
  display: flex;
  align-items: center;
}


.burger-menu{
  position: absolute;
  right: 10px;
  top: 10px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  display: none;
}
.burger-menu .burger-span, .burger-menu .burger-span:before, .burger-menu .burger-span:after{
  width: 100%;
  position: absolute;
  height: 2px;
  background: #333;
  display: block;
  transition: .3s;
  border-radius: 5px;
}
.burger-menu .burger-span:before{
  content: "";
  top: -10px;
  transition: top 300ms 300ms, transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
}
.burger-menu .burger-span{
  top: 20px;
}
.burger-menu .burger-span:after{
  content: "";
  bottom: -10px;
  transition: bottom 300ms 300ms, transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
}



.burger-menu .burger-span.animate-menu:before{
  content: "";
  top: 0px;
  transform: rotate(45deg);
  transition: top 300ms, transform 300ms 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.burger-menu .burger-span.animate-menu:after{
  content: "";
  bottom: 0;
  transform: rotate(-45deg);
  transition: bottom 300ms, transform 300ms 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.burger-menu .burger-span.animate-menu{
  background: rgba(255, 255, 255, 0); 
}

.logo-text-active{
  display:none;
}
//mediaquery

@media (max-width: 1040px) {
  .header-language {
    flex-direction: column;
  }
  .header-language-item {
    margin-bottom: 3px;
  }
  .header-search {
    align-items: center;
  }
  .header-language {
    width: initial;
  }
}
@media(max-width:1025px){
    .logo-link{
      margin-right: 8px;
    }
}
@media (max-width: 960px) {
  .logo-link {
    margin-right: 20px;
  }
}
@media (max-width: 940px) {
  .burger-menu {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
  }
  .header-item-mobile {
    display: flex;
    justify-content: center;
    width: 100%;
    position: relative;
  }
  .menu-list {
    // display: none;
    position: absolute;
    left: 0;
    flex-direction: column;
    top: 80px;
    align-items: flex-start;
    z-index: 2;
    // background-color: red;
    background-color: rgba(255, 255, 255, 0.952);
    height: 400px;
    left: -15px;
    padding-left: 10px;


 
    overflow: hidden;
    opacity: 0;
    transition: 2s;
    left: -150px;
  }
  .header-wrapper {
    padding: 0;
  }
  .menu-list li:hover .menu-list-link:before {
    display: none;
  }
  .menu-list-link {
    padding: 5px;
  }
  .menu-list-item {
    margin-bottom: 6px;
  }
  .menu-list-drop {
    padding-left: 5px;
  }
  .burger-menu-active {
 
    opacity: 1;
    left: 0;
    // height: 150px;

  }
  .menu-list-drop:hover {
    margin-bottom: 120px;
  }
  .header-wrapper{
    height: 80px;
  }
}
@media(max-width:768px){
   
    // .burger-menu{
    //     top: 15px;
    //     left: 15px;
    // }
}
@media(max-width:600px){
    // .header-wrapper{
    //     flex-wrap: wrap;
    //     justify-content: flex-end;
    // }
    .header{
        height:70px;
        margin-bottom: 60px;
    }
    // .header-item{
    //     height: 70px;
    // }
    // .header-search{
    //     align-items: flex-start;
    // }
    .menu-list{
        top: 80px;
    }
}
@media(max-width:520px){
  .header-item-mobile{
    justify-content: space-evenly;
  }
}
@media(max-width:500px){
    .books-item-img{
        padding:20px;
        max-width: 100%;
    }
    .img-logo{
      width: 40px;
      height: 45px;
    }
}
@media (max-width: 440px) {
  .menu-list {
    top: 64px;
  }

    .boks-item-subtitle{
        width: 90%;
    }
}
@media(max-width:360px){
    .img-logo{
      width: 30px;
    }
    .logo-text{
      font-size: 18px;
    }
    .header-language .header-language-item{
      margin-right: 0;
    }
    .logo-link{
      justify-content: flex-start;
     
    }
}

// ------------------test container
// @media(max-width:1024px){
//     .container{
//         max-width: 900px;
//     }
// }
// @media(max-width:768px){
//     .container{
//         max-width: 750px;
//     }
// }
// @media(max-width:480px){
//     .container{
//         max-width: 470px;
//     }
// }